.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
}

.header__left {
  display: flex;
  align-items: center;
  margin-left: 7px;
}

.header__left > img {
  object-fit: contain;
  height: 70px;
  margin-left: 5px;
}

.header__middle {
  display: flex;
  flex: 0.8;
  align-items: center;
  background-color: whitesmoke;
  padding: 7px;
  border-radius: 9px;
}

.header__middle > .MuiSvgIcon-root {
  color: grey;
}

.header__middle > input {
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: medium;
  background-color: transparent;
}

.header__right {
  display: flex;
  padding-right: 20px;
}

.header__avatar {
  cursor: pointer;
}
